<div class="account-type">
    {{card.type}}
</div>
<div class="account-name">
    {{card.name}}
</div>
<div class="account-number">
    {{card.accountNumber}}
</div>
<div class="expiration-date">
    Expires: {{card.expirationMonth}}/{{card.expirationYear}}
</div>